Repository Assurean/rocket-quote-fzia64, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lead-architects, @security-team, @backend-team, @lead-service-maintainers, @campaign-service-maintainers, @ml-team, @data-scientists, @rtb-specialists, @validation-service-maintainers, @frontend-team, @consumer-app-maintainers, @portal-app-maintainers, @shared-components-maintainers, @analytics-maintainers, @devops-team, @cloud-architects, @ci-maintainers, @qa-team, @test-automation-specialists, @compliance-team, @database-team, @api-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/routes/LandingPage.tsx
  src/web/apps/consumer/src/routes/LandingPage.tsx
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/routes/LifeForm.tsx
  src/web/apps/consumer/src/routes/LifeForm.tsx
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/routes/RentersForm.tsx
  src/web/apps/consumer/src/routes/RentersForm.tsx
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/routes/ThankYou.tsx
  src/web/apps/consumer/src/routes/ThankYou.tsx
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/routes/VerticalSelection.tsx
  src/web/apps/consumer/src/routes/VerticalSelection.tsx
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/routes/index.tsx
  src/web/apps/consumer/src/routes/index.tsx
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/services/api.ts
  src/web/apps/consumer/src/services/api.ts
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/services/rtb.ts
  src/web/apps/consumer/src/services/rtb.ts
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/services/validation.ts
  src/web/apps/consumer/src/services/validation.ts
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/store/index.ts
  src/web/apps/consumer/src/store/index.ts
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/store/slices/formSlice.ts
  src/web/apps/consumer/src/store/slices/formSlice.ts
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/store/slices/sessionSlice.ts
  src/web/apps/consumer/src/store/slices/sessionSlice.ts
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/store/slices/validationSlice.ts
  src/web/apps/consumer/src/store/slices/validationSlice.ts
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/utils/analytics.ts
  src/web/apps/consumer/src/utils/analytics.ts
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/utils/formatters.ts
  src/web/apps/consumer/src/utils/formatters.ts
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/utils/validators.ts
  src/web/apps/consumer/src/utils/validators.ts
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/tests/App.test.tsx
  src/web/apps/consumer/tests/App.test.tsx
Owners: @qa-team, @frontend-team, @test-automation-specialists

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/tests/setup.ts
  src/web/apps/consumer/tests/setup.ts
Owners: @qa-team, @frontend-team, @test-automation-specialists

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/tests/routes/BasicInfo.test.tsx
  src/web/apps/consumer/tests/routes/BasicInfo.test.tsx
Owners: @qa-team, @frontend-team, @test-automation-specialists

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/tests/routes/LandingPage.test.tsx
  src/web/apps/consumer/tests/routes/LandingPage.test.tsx
Owners: @qa-team, @frontend-team, @test-automation-specialists

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/tests/routes/VerticalSelection.test.tsx
  src/web/apps/consumer/tests/routes/VerticalSelection.test.tsx
Owners: @qa-team, @frontend-team, @test-automation-specialists

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/index.html
  src/web/apps/portal/index.html
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/package.json
  src/web/apps/portal/package.json
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/tsconfig.json
  src/web/apps/portal/tsconfig.json
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/App.tsx
  src/web/apps/portal/src/App.tsx
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/main.tsx
  src/web/apps/portal/src/main.tsx
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/vite-env.d.ts
  src/web/apps/portal/src/vite-env.d.ts
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/hooks/useAuth.ts
  src/web/apps/portal/src/hooks/useAuth.ts
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/hooks/useCampaign.ts
  src/web/apps/portal/src/hooks/useCampaign.ts
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/hooks/useLeadQueue.ts
  src/web/apps/portal/src/hooks/useLeadQueue.ts
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/routes/Analytics.tsx
  src/web/apps/portal/src/routes/Analytics.tsx
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/routes/Campaigns.tsx
  src/web/apps/portal/src/routes/Campaigns.tsx
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/routes/Dashboard.tsx
  src/web/apps/portal/src/routes/Dashboard.tsx
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/routes/LeadQueue.tsx
  src/web/apps/portal/src/routes/LeadQueue.tsx
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/routes/Login.tsx
  src/web/apps/portal/src/routes/Login.tsx
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/routes/Settings.tsx
  src/web/apps/portal/src/routes/Settings.tsx
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/routes/index.tsx
  src/web/apps/portal/src/routes/index.tsx
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/services/api.ts
  src/web/apps/portal/src/services/api.ts
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/services/auth.ts
  src/web/apps/portal/src/services/auth.ts
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/services/campaign.ts
  src/web/apps/portal/src/services/campaign.ts
Owners: @frontend-team, @portal-app-maintainers, @security-team

.github/CODEOWNERS:

# Ensures security oversight on all changes
* @lead-architects @security-team

# Lead service core functionality
src/backend/services/lead-service/** @backend-team @lead-service-maintainers @security-team

# Campaign management service
src/backend/services/campaign-service/** @backend-team @campaign-service-maintainers @security-team

# Machine learning scoring service
src/backend/services/ml-service/** @ml-team @data-scientists @security-team

# Real-time bidding service
src/backend/services/rtb-service/** @backend-team @rtb-specialists @security-team

# Data validation service
src/backend/services/validation-service/** @backend-team @validation-service-maintainers @security-team

# Consumer-facing lead generation application
src/web/apps/consumer/** @frontend-team @consumer-app-maintainers @security-team

# Buyer portal application
src/web/apps/portal/** @frontend-team @portal-app-maintainers @security-team

# Shared UI components and utilities
src/web/packages/shared/** @frontend-team @shared-components-maintainers

# RTB frontend integration package
src/web/packages/rtb/** @frontend-team @rtb-specialists @security-team

# Analytics and reporting components
src/web/packages/analytics/** @frontend-team @analytics-maintainers @security-team

# Infrastructure and deployment configuration
infrastructure/** @devops-team @security-team @cloud-architects

# CI/CD workflow configurations
.github/workflows/** @devops-team @ci-maintainers @security-team

# Backend test suites
src/backend/**/tests/** @qa-team @backend-team @test-automation-specialists

# Frontend test suites
src/web/**/tests/** @qa-team @frontend-team @test-automation-specialists

# Security-related configurations and policies
**/security/** @security-team @compliance-team

# Database schemas and migrations
**/database/** @database-team @backend-team @security-team

# Protocol buffer definitions
**/*.proto @api-team @backend-team @security-team

# OpenAPI specifications
**/openapi/** @api-team @backend-team @security-team
