Repository Assurean/rocket-quote-fzia64, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lead-architects, @security-team, @backend-team, @lead-service-maintainers, @campaign-service-maintainers, @ml-team, @data-scientists, @rtb-specialists, @validation-service-maintainers, @frontend-team, @consumer-app-maintainers, @portal-app-maintainers, @shared-components-maintainers, @analytics-maintainers, @devops-team, @cloud-architects, @ci-maintainers, @qa-team, @test-automation-specialists, @compliance-team, @database-team, @api-team

.github/CODEOWNERS:

# Ensures security oversight on all changes
* @lead-architects @security-team

# Lead service core functionality
src/backend/services/lead-service/** @backend-team @lead-service-maintainers @security-team

# Campaign management service
src/backend/services/campaign-service/** @backend-team @campaign-service-maintainers @security-team

# Machine learning scoring service
src/backend/services/ml-service/** @ml-team @data-scientists @security-team

# Real-time bidding service
src/backend/services/rtb-service/** @backend-team @rtb-specialists @security-team

# Data validation service
src/backend/services/validation-service/** @backend-team @validation-service-maintainers @security-team

# Consumer-facing lead generation application
src/web/apps/consumer/** @frontend-team @consumer-app-maintainers @security-team

# Buyer portal application
src/web/apps/portal/** @frontend-team @portal-app-maintainers @security-team

# Shared UI components and utilities
src/web/packages/shared/** @frontend-team @shared-components-maintainers

# RTB frontend integration package
src/web/packages/rtb/** @frontend-team @rtb-specialists @security-team

# Analytics and reporting components
src/web/packages/analytics/** @frontend-team @analytics-maintainers @security-team

# Infrastructure and deployment configuration
infrastructure/** @devops-team @security-team @cloud-architects

# CI/CD workflow configurations
.github/workflows/** @devops-team @ci-maintainers @security-team

# Backend test suites
src/backend/**/tests/** @qa-team @backend-team @test-automation-specialists

# Frontend test suites
src/web/**/tests/** @qa-team @frontend-team @test-automation-specialists

# Security-related configurations and policies
**/security/** @security-team @compliance-team

# Database schemas and migrations
**/database/** @database-team @backend-team @security-team

# Protocol buffer definitions
**/*.proto @api-team @backend-team @security-team

# OpenAPI specifications
**/openapi/** @api-team @backend-team @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/store/index.ts
  src/web/apps/portal/src/store/index.ts
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/store/slices/authSlice.ts
  src/web/apps/portal/src/store/slices/authSlice.ts
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/store/slices/campaignSlice.ts
  src/web/apps/portal/src/store/slices/campaignSlice.ts
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/store/slices/leadSlice.ts
  src/web/apps/portal/src/store/slices/leadSlice.ts
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/utils/charts.ts
  src/web/apps/portal/src/utils/charts.ts
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/src/utils/export.ts
  src/web/apps/portal/src/utils/export.ts
Owners: @frontend-team, @portal-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/tests/App.test.tsx
  src/web/apps/portal/tests/App.test.tsx
Owners: @qa-team, @frontend-team, @test-automation-specialists

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/tests/setup.ts
  src/web/apps/portal/tests/setup.ts
Owners: @qa-team, @frontend-team, @test-automation-specialists

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/tests/routes/Campaigns.test.tsx
  src/web/apps/portal/tests/routes/Campaigns.test.tsx
Owners: @qa-team, @frontend-team, @test-automation-specialists

Add public-samples/rocket-quote-fzia64/src/web/apps/portal/tests/routes/Dashboard.test.tsx
  src/web/apps/portal/tests/routes/Dashboard.test.tsx
Owners: @qa-team, @frontend-team, @test-automation-specialists

Add public-samples/rocket-quote-fzia64/src/web/packages/analytics/package.json
  src/web/packages/analytics/package.json
Owners: @frontend-team, @analytics-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/packages/analytics/tsconfig.json
  src/web/packages/analytics/tsconfig.json
Owners: @frontend-team, @analytics-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/packages/analytics/src/components/ConversionChart.tsx
  src/web/packages/analytics/src/components/ConversionChart.tsx
Owners: @frontend-team, @analytics-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/packages/analytics/src/components/Dashboard.tsx
  src/web/packages/analytics/src/components/Dashboard.tsx
Owners: @frontend-team, @analytics-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/packages/analytics/src/components/LeadChart.tsx
  src/web/packages/analytics/src/components/LeadChart.tsx
Owners: @frontend-team, @analytics-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/packages/analytics/src/components/RevenueChart.tsx
  src/web/packages/analytics/src/components/RevenueChart.tsx
Owners: @frontend-team, @analytics-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/packages/analytics/src/hooks/useAnalytics.ts
  src/web/packages/analytics/src/hooks/useAnalytics.ts
Owners: @frontend-team, @analytics-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/packages/analytics/src/services/reporting.ts
  src/web/packages/analytics/src/services/reporting.ts
Owners: @frontend-team, @analytics-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/packages/analytics/src/utils/metrics.ts
  src/web/packages/analytics/src/utils/metrics.ts
Owners: @frontend-team, @analytics-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/packages/analytics/tests/components/Dashboard.test.tsx
  src/web/packages/analytics/tests/components/Dashboard.test.tsx
Owners: @qa-team, @frontend-team, @test-automation-specialists

Add public-samples/rocket-quote-fzia64/src/web/packages/analytics/tests/hooks/useAnalytics.test.ts
  src/web/packages/analytics/tests/hooks/useAnalytics.test.ts
Owners: @qa-team, @frontend-team, @test-automation-specialists

Add public-samples/rocket-quote-fzia64/src/web/packages/rtb/package.json
  src/web/packages/rtb/package.json
Owners: @frontend-team, @rtb-specialists, @security-team

Add public-samples/rocket-quote-fzia64/src/web/packages/rtb/tsconfig.json
  src/web/packages/rtb/tsconfig.json
Owners: @frontend-team, @rtb-specialists, @security-team

Add public-samples/rocket-quote-fzia64/src/web/packages/rtb/src/components/ClickCard.tsx
  src/web/packages/rtb/src/components/ClickCard.tsx
Owners: @frontend-team, @rtb-specialists, @security-team

Add public-samples/rocket-quote-fzia64/src/web/packages/rtb/src/components/ClickWall.tsx
  src/web/packages/rtb/src/components/ClickWall.tsx
Owners: @frontend-team, @rtb-specialists, @security-team

Add public-samples/rocket-quote-fzia64/src/web/packages/rtb/src/components/ExitIntent.tsx
  src/web/packages/rtb/src/components/ExitIntent.tsx
Owners: @frontend-team, @rtb-specialists, @security-team

Add public-samples/rocket-quote-fzia64/src/web/packages/rtb/src/hooks/useBidding.ts
  src/web/packages/rtb/src/hooks/useBidding.ts
Owners: @frontend-team, @rtb-specialists, @security-team

Add public-samples/rocket-quote-fzia64/src/web/packages/rtb/src/hooks/useTracking.ts
  src/web/packages/rtb/src/hooks/useTracking.ts
Owners: @frontend-team, @rtb-specialists, @security-team

Add public-samples/rocket-quote-fzia64/src/web/packages/rtb/src/services/bidding.ts
  src/web/packages/rtb/src/services/bidding.ts
Owners: @frontend-team, @rtb-specialists, @security-team

Add public-samples/rocket-quote-fzia64/src/web/packages/rtb/src/services/tracking.ts
  src/web/packages/rtb/src/services/tracking.ts
Owners: @frontend-team, @rtb-specialists, @security-team

Add public-samples/rocket-quote-fzia64/src/web/packages/rtb/src/utils/bid.ts
  src/web/packages/rtb/src/utils/bid.ts
Owners: @frontend-team, @rtb-specialists, @security-team

Add public-samples/rocket-quote-fzia64/src/web/packages/rtb/tests/components/ClickCard.test.tsx
  src/web/packages/rtb/tests/components/ClickCard.test.tsx
Owners: @qa-team, @frontend-team, @test-automation-specialists

Add public-samples/rocket-quote-fzia64/src/web/packages/rtb/tests/hooks/useBidding.test.ts
  src/web/packages/rtb/tests/hooks/useBidding.test.ts
Owners: @qa-team, @frontend-team, @test-automation-specialists

Add public-samples/rocket-quote-fzia64/src/web/packages/shared/package.json
  src/web/packages/shared/package.json
Owners: @frontend-team, @shared-components-maintainers

Add public-samples/rocket-quote-fzia64/src/web/packages/shared/tsconfig.json
  src/web/packages/shared/tsconfig.json
Owners: @frontend-team, @shared-components-maintainers

Add public-samples/rocket-quote-fzia64/src/web/packages/shared/src/components/data/Chart.tsx
  src/web/packages/shared/src/components/data/Chart.tsx
Owners: @frontend-team, @shared-components-maintainers

Add public-samples/rocket-quote-fzia64/src/web/packages/shared/src/components/data/KPI.tsx
  src/web/packages/shared/src/components/data/KPI.tsx
Owners: @frontend-team, @shared-components-maintainers

Add public-samples/rocket-quote-fzia64/src/web/packages/shared/src/components/data/Table.tsx
  src/web/packages/shared/src/components/data/Table.tsx
Owners: @frontend-team, @shared-components-maintainers

Add public-samples/rocket-quote-fzia64/src/web/packages/shared/src/components/feedback/Alert.tsx
  src/web/packages/shared/src/components/feedback/Alert.tsx
Owners: @frontend-team, @shared-components-maintainers

Add public-samples/rocket-quote-fzia64/src/web/packages/shared/src/components/feedback/Progress.tsx
  src/web/packages/shared/src/components/feedback/Progress.tsx
Owners: @frontend-team, @shared-components-maintainers
