Repository Assurean/rocket-quote-fzia64, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lead-architects, @security-team, @backend-team, @lead-service-maintainers, @campaign-service-maintainers, @ml-team, @data-scientists, @rtb-specialists, @validation-service-maintainers, @frontend-team, @consumer-app-maintainers, @portal-app-maintainers, @shared-components-maintainers, @analytics-maintainers, @devops-team, @cloud-architects, @ci-maintainers, @qa-team, @test-automation-specialists, @compliance-team, @database-team, @api-team

Add public-samples/rocket-quote-fzia64/src/backend/lerna.json
  src/backend/lerna.json
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/package.json
  src/backend/package.json
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/api/openapi/campaign-service.yaml
  src/backend/api/openapi/campaign-service.yaml
Owners: @api-team, @backend-team, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/api/openapi/lead-service.yaml
  src/backend/api/openapi/lead-service.yaml
Owners: @api-team, @backend-team, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/api/openapi/ml-service.yaml
  src/backend/api/openapi/ml-service.yaml
Owners: @api-team, @backend-team, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/api/openapi/rtb-service.yaml
  src/backend/api/openapi/rtb-service.yaml
Owners: @api-team, @backend-team, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/api/openapi/validation-service.yaml
  src/backend/api/openapi/validation-service.yaml
Owners: @api-team, @backend-team, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/api/proto/bid.proto
  src/backend/api/proto/bid.proto
Owners: @api-team, @backend-team, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/api/proto/campaign.proto
  src/backend/api/proto/campaign.proto
Owners: @api-team, @backend-team, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/api/proto/lead.proto
  src/backend/api/proto/lead.proto
Owners: @api-team, @backend-team, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/api/proto/scoring.proto
  src/backend/api/proto/scoring.proto
Owners: @api-team, @backend-team, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/api/proto/validation.proto
  src/backend/api/proto/validation.proto
Owners: @api-team, @backend-team, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/k8s/campaign-service/deployment.yaml
  src/backend/k8s/campaign-service/deployment.yaml
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/k8s/campaign-service/service.yaml
  src/backend/k8s/campaign-service/service.yaml
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/k8s/ingress/api-gateway.yaml
  src/backend/k8s/ingress/api-gateway.yaml
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/k8s/istio/gateway.yaml
  src/backend/k8s/istio/gateway.yaml
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/k8s/istio/virtual-service.yaml
  src/backend/k8s/istio/virtual-service.yaml
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/k8s/lead-service/deployment.yaml
  src/backend/k8s/lead-service/deployment.yaml
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/k8s/lead-service/service.yaml
  src/backend/k8s/lead-service/service.yaml
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/k8s/ml-service/deployment.yaml
  src/backend/k8s/ml-service/deployment.yaml
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/k8s/ml-service/service.yaml
  src/backend/k8s/ml-service/service.yaml
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/k8s/monitoring/grafana.yaml
  src/backend/k8s/monitoring/grafana.yaml
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/k8s/monitoring/jaeger.yaml
  src/backend/k8s/monitoring/jaeger.yaml
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/k8s/monitoring/prometheus.yaml
  src/backend/k8s/monitoring/prometheus.yaml
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/k8s/rtb-service/deployment.yaml
  src/backend/k8s/rtb-service/deployment.yaml
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/k8s/rtb-service/service.yaml
  src/backend/k8s/rtb-service/service.yaml
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/k8s/storage/mongodb.yaml
  src/backend/k8s/storage/mongodb.yaml
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/k8s/storage/postgresql.yaml
  src/backend/k8s/storage/postgresql.yaml
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/k8s/storage/redis.yaml
  src/backend/k8s/storage/redis.yaml
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/k8s/validation-service/deployment.yaml
  src/backend/k8s/validation-service/deployment.yaml
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/k8s/validation-service/service.yaml
  src/backend/k8s/validation-service/service.yaml
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/scripts/build.sh
  src/backend/scripts/build.sh
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/scripts/deploy.sh
  src/backend/scripts/deploy.sh
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/scripts/migrate.sh
  src/backend/scripts/migrate.sh
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/scripts/test.sh
  src/backend/scripts/test.sh
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/campaign-service/Dockerfile
  src/backend/services/campaign-service/Dockerfile
Owners: @backend-team, @campaign-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/campaign-service/README.md
  src/backend/services/campaign-service/README.md
Owners: @backend-team, @campaign-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/campaign-service/package.json
  src/backend/services/campaign-service/package.json
Owners: @backend-team, @campaign-service-maintainers, @security-team

.github/CODEOWNERS:

# Ensures security oversight on all changes
* @lead-architects @security-team

# Lead service core functionality
src/backend/services/lead-service/** @backend-team @lead-service-maintainers @security-team

# Campaign management service
src/backend/services/campaign-service/** @backend-team @campaign-service-maintainers @security-team

# Machine learning scoring service
src/backend/services/ml-service/** @ml-team @data-scientists @security-team

# Real-time bidding service
src/backend/services/rtb-service/** @backend-team @rtb-specialists @security-team

# Data validation service
src/backend/services/validation-service/** @backend-team @validation-service-maintainers @security-team

# Consumer-facing lead generation application
src/web/apps/consumer/** @frontend-team @consumer-app-maintainers @security-team

# Buyer portal application
src/web/apps/portal/** @frontend-team @portal-app-maintainers @security-team

# Shared UI components and utilities
src/web/packages/shared/** @frontend-team @shared-components-maintainers

# RTB frontend integration package
src/web/packages/rtb/** @frontend-team @rtb-specialists @security-team

# Analytics and reporting components
src/web/packages/analytics/** @frontend-team @analytics-maintainers @security-team

# Infrastructure and deployment configuration
infrastructure/** @devops-team @security-team @cloud-architects

# CI/CD workflow configurations
.github/workflows/** @devops-team @ci-maintainers @security-team

# Backend test suites
src/backend/**/tests/** @qa-team @backend-team @test-automation-specialists

# Frontend test suites
src/web/**/tests/** @qa-team @frontend-team @test-automation-specialists

# Security-related configurations and policies
**/security/** @security-team @compliance-team

# Database schemas and migrations
**/database/** @database-team @backend-team @security-team

# Protocol buffer definitions
**/*.proto @api-team @backend-team @security-team

# OpenAPI specifications
**/openapi/** @api-team @backend-team @security-team
