Repository Assurean/rocket-quote-fzia64, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lead-architects, @security-team, @backend-team, @lead-service-maintainers, @campaign-service-maintainers, @ml-team, @data-scientists, @rtb-specialists, @validation-service-maintainers, @frontend-team, @consumer-app-maintainers, @portal-app-maintainers, @shared-components-maintainers, @analytics-maintainers, @devops-team, @cloud-architects, @ci-maintainers, @qa-team, @test-automation-specialists, @compliance-team, @database-team, @api-team

.github/CODEOWNERS:

# Ensures security oversight on all changes
* @lead-architects @security-team

# Lead service core functionality
src/backend/services/lead-service/** @backend-team @lead-service-maintainers @security-team

# Campaign management service
src/backend/services/campaign-service/** @backend-team @campaign-service-maintainers @security-team

# Machine learning scoring service
src/backend/services/ml-service/** @ml-team @data-scientists @security-team

# Real-time bidding service
src/backend/services/rtb-service/** @backend-team @rtb-specialists @security-team

# Data validation service
src/backend/services/validation-service/** @backend-team @validation-service-maintainers @security-team

# Consumer-facing lead generation application
src/web/apps/consumer/** @frontend-team @consumer-app-maintainers @security-team

# Buyer portal application
src/web/apps/portal/** @frontend-team @portal-app-maintainers @security-team

# Shared UI components and utilities
src/web/packages/shared/** @frontend-team @shared-components-maintainers

# RTB frontend integration package
src/web/packages/rtb/** @frontend-team @rtb-specialists @security-team

# Analytics and reporting components
src/web/packages/analytics/** @frontend-team @analytics-maintainers @security-team

# Infrastructure and deployment configuration
infrastructure/** @devops-team @security-team @cloud-architects

# CI/CD workflow configurations
.github/workflows/** @devops-team @ci-maintainers @security-team

# Backend test suites
src/backend/**/tests/** @qa-team @backend-team @test-automation-specialists

# Frontend test suites
src/web/**/tests/** @qa-team @frontend-team @test-automation-specialists

# Security-related configurations and policies
**/security/** @security-team @compliance-team

# Database schemas and migrations
**/database/** @database-team @backend-team @security-team

# Protocol buffer definitions
**/*.proto @api-team @backend-team @security-team

# OpenAPI specifications
**/openapi/** @api-team @backend-team @security-team

Add public-samples/rocket-quote-fzia64/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team, @ci-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/.github/workflows/frontend-ci.yml
  .github/workflows/frontend-ci.yml
Owners: @devops-team, @ci-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/.github/workflows/infrastructure-ci.yml
  .github/workflows/infrastructure-ci.yml
Owners: @devops-team, @ci-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/.github/workflows/release.yml
  .github/workflows/release.yml
Owners: @devops-team, @ci-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/infrastructure/docker/monitoring/elk/elasticsearch.yml
  infrastructure/docker/monitoring/elk/elasticsearch.yml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/docker/monitoring/elk/kibana.yml
  infrastructure/docker/monitoring/elk/kibana.yml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/docker/monitoring/elk/logstash.yml
  infrastructure/docker/monitoring/elk/logstash.yml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/docker/monitoring/grafana/dashboards/leads.json
  infrastructure/docker/monitoring/grafana/dashboards/leads.json
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/docker/monitoring/grafana/dashboards/rtb.json
  infrastructure/docker/monitoring/grafana/dashboards/rtb.json
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/docker/monitoring/grafana/dashboards/services.json
  infrastructure/docker/monitoring/grafana/dashboards/services.json
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/docker/monitoring/grafana/provisioning/dashboards.yml
  infrastructure/docker/monitoring/grafana/provisioning/dashboards.yml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/docker/monitoring/grafana/provisioning/datasources.yml
  infrastructure/docker/monitoring/grafana/provisioning/datasources.yml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/docker/monitoring/jaeger/jaeger.yml
  infrastructure/docker/monitoring/jaeger/jaeger.yml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/docker/monitoring/prometheus/prometheus.yml
  infrastructure/docker/monitoring/prometheus/prometheus.yml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/docker/monitoring/prometheus/rules/alerts.yml
  infrastructure/docker/monitoring/prometheus/rules/alerts.yml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/docker/monitoring/prometheus/rules/recording.yml
  infrastructure/docker/monitoring/prometheus/rules/recording.yml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/helm/charts/api-gateway/Chart.yaml
  infrastructure/helm/charts/api-gateway/Chart.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/helm/charts/api-gateway/values.yaml
  infrastructure/helm/charts/api-gateway/values.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/helm/charts/api-gateway/templates/configmap.yaml
  infrastructure/helm/charts/api-gateway/templates/configmap.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/helm/charts/api-gateway/templates/deployment.yaml
  infrastructure/helm/charts/api-gateway/templates/deployment.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/helm/charts/api-gateway/templates/service.yaml
  infrastructure/helm/charts/api-gateway/templates/service.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/helm/charts/services/Chart.yaml
  infrastructure/helm/charts/services/Chart.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/helm/charts/services/values.yaml
  infrastructure/helm/charts/services/values.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/helm/charts/services/templates/configmap.yaml
  infrastructure/helm/charts/services/templates/configmap.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/helm/charts/services/templates/deployment.yaml
  infrastructure/helm/charts/services/templates/deployment.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/helm/charts/services/templates/service.yaml
  infrastructure/helm/charts/services/templates/service.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/helm/environments/dev/values.yaml
  infrastructure/helm/environments/dev/values.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/helm/environments/prod/values.yaml
  infrastructure/helm/environments/prod/values.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/helm/environments/staging/values.yaml
  infrastructure/helm/environments/staging/values.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/scripts/apply-terraform.sh
  infrastructure/scripts/apply-terraform.sh
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/scripts/backup-databases.sh
  infrastructure/scripts/backup-databases.sh
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/scripts/destroy-terraform.sh
  infrastructure/scripts/destroy-terraform.sh
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/rocket-quote-fzia64/infrastructure/scripts/init-terraform.sh
  infrastructure/scripts/init-terraform.sh
Owners: @devops-team, @security-team, @cloud-architects
