Repository Assurean/rocket-quote-fzia64, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lead-architects, @security-team, @backend-team, @lead-service-maintainers, @campaign-service-maintainers, @ml-team, @data-scientists, @rtb-specialists, @validation-service-maintainers, @frontend-team, @consumer-app-maintainers, @portal-app-maintainers, @shared-components-maintainers, @analytics-maintainers, @devops-team, @cloud-architects, @ci-maintainers, @qa-team, @test-automation-specialists, @compliance-team, @database-team, @api-team

Add public-samples/rocket-quote-fzia64/src/backend/services/campaign-service/tsconfig.json
  src/backend/services/campaign-service/tsconfig.json
Owners: @backend-team, @campaign-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/campaign-service/src/config/database.ts
  src/backend/services/campaign-service/src/config/database.ts
Owners: @backend-team, @campaign-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/campaign-service/src/controllers/campaign.controller.ts
  src/backend/services/campaign-service/src/controllers/campaign.controller.ts
Owners: @backend-team, @campaign-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/campaign-service/src/interfaces/campaign.interface.ts
  src/backend/services/campaign-service/src/interfaces/campaign.interface.ts
Owners: @backend-team, @campaign-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/campaign-service/src/models/campaign.model.ts
  src/backend/services/campaign-service/src/models/campaign.model.ts
Owners: @backend-team, @campaign-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/campaign-service/src/routes/campaign.routes.ts
  src/backend/services/campaign-service/src/routes/campaign.routes.ts
Owners: @backend-team, @campaign-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/campaign-service/src/services/campaign.service.ts
  src/backend/services/campaign-service/src/services/campaign.service.ts
Owners: @backend-team, @campaign-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/campaign-service/tests/campaign.test.ts
  src/backend/services/campaign-service/tests/campaign.test.ts
Owners: @qa-team, @backend-team, @test-automation-specialists

Add public-samples/rocket-quote-fzia64/src/backend/services/lead-service/Dockerfile
  src/backend/services/lead-service/Dockerfile
Owners: @backend-team, @lead-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/lead-service/README.md
  src/backend/services/lead-service/README.md
Owners: @backend-team, @lead-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/lead-service/package.json
  src/backend/services/lead-service/package.json
Owners: @backend-team, @lead-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/lead-service/tsconfig.json
  src/backend/services/lead-service/tsconfig.json
Owners: @backend-team, @lead-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/lead-service/src/config/database.ts
  src/backend/services/lead-service/src/config/database.ts
Owners: @backend-team, @lead-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/lead-service/src/config/kafka.ts
  src/backend/services/lead-service/src/config/kafka.ts
Owners: @backend-team, @lead-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/lead-service/src/config/redis.ts
  src/backend/services/lead-service/src/config/redis.ts
Owners: @backend-team, @lead-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/lead-service/src/controllers/lead.controller.ts
  src/backend/services/lead-service/src/controllers/lead.controller.ts
Owners: @backend-team, @lead-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/lead-service/src/interfaces/lead.interface.ts
  src/backend/services/lead-service/src/interfaces/lead.interface.ts
Owners: @backend-team, @lead-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/lead-service/src/models/lead.model.ts
  src/backend/services/lead-service/src/models/lead.model.ts
Owners: @backend-team, @lead-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/lead-service/src/routes/lead.routes.ts
  src/backend/services/lead-service/src/routes/lead.routes.ts
Owners: @backend-team, @lead-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/lead-service/src/services/lead.service.ts
  src/backend/services/lead-service/src/services/lead.service.ts
Owners: @backend-team, @lead-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/lead-service/src/utils/validation.ts
  src/backend/services/lead-service/src/utils/validation.ts
Owners: @backend-team, @lead-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/lead-service/tests/integration/lead.test.ts
  src/backend/services/lead-service/tests/integration/lead.test.ts
Owners: @qa-team, @backend-team, @test-automation-specialists

Add public-samples/rocket-quote-fzia64/src/backend/services/lead-service/tests/unit/lead.service.test.ts
  src/backend/services/lead-service/tests/unit/lead.service.test.ts
Owners: @qa-team, @backend-team, @test-automation-specialists

Add public-samples/rocket-quote-fzia64/src/backend/services/ml-service/Dockerfile
  src/backend/services/ml-service/Dockerfile
Owners: @ml-team, @data-scientists, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/ml-service/README.md
  src/backend/services/ml-service/README.md
Owners: @ml-team, @data-scientists, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/ml-service/pyproject.toml
  src/backend/services/ml-service/pyproject.toml
Owners: @ml-team, @data-scientists, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/ml-service/requirements.txt
  src/backend/services/ml-service/requirements.txt
Owners: @ml-team, @data-scientists, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/ml-service/src/config/model_config.py
  src/backend/services/ml-service/src/config/model_config.py
Owners: @ml-team, @data-scientists, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/ml-service/src/models/lead_scorer.py
  src/backend/services/ml-service/src/models/lead_scorer.py
Owners: @ml-team, @data-scientists, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/ml-service/src/routes/scoring_routes.py
  src/backend/services/ml-service/src/routes/scoring_routes.py
Owners: @ml-team, @data-scientists, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/ml-service/src/services/scoring_service.py
  src/backend/services/ml-service/src/services/scoring_service.py
Owners: @ml-team, @data-scientists, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/ml-service/src/utils/feature_engineering.py
  src/backend/services/ml-service/src/utils/feature_engineering.py
Owners: @ml-team, @data-scientists, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/ml-service/tests/test_lead_scorer.py
  src/backend/services/ml-service/tests/test_lead_scorer.py
Owners: @qa-team, @backend-team, @test-automation-specialists

Add public-samples/rocket-quote-fzia64/src/backend/services/rtb-service/Dockerfile
  src/backend/services/rtb-service/Dockerfile
Owners: @backend-team, @rtb-specialists, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/rtb-service/README.md
  src/backend/services/rtb-service/README.md
Owners: @backend-team, @rtb-specialists, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/rtb-service/go.mod
  src/backend/services/rtb-service/go.mod
Owners: @backend-team, @rtb-specialists, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/rtb-service/go.sum
  src/backend/services/rtb-service/go.sum
Owners: @backend-team, @rtb-specialists, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/rtb-service/src/config/config.go
  src/backend/services/rtb-service/src/config/config.go
Owners: @backend-team, @rtb-specialists, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/rtb-service/src/handlers/bid_handler.go
  src/backend/services/rtb-service/src/handlers/bid_handler.go
Owners: @backend-team, @rtb-specialists, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/rtb-service/src/models/bid.go
  src/backend/services/rtb-service/src/models/bid.go
Owners: @backend-team, @rtb-specialists, @security-team

.github/CODEOWNERS:

# Ensures security oversight on all changes
* @lead-architects @security-team

# Lead service core functionality
src/backend/services/lead-service/** @backend-team @lead-service-maintainers @security-team

# Campaign management service
src/backend/services/campaign-service/** @backend-team @campaign-service-maintainers @security-team

# Machine learning scoring service
src/backend/services/ml-service/** @ml-team @data-scientists @security-team

# Real-time bidding service
src/backend/services/rtb-service/** @backend-team @rtb-specialists @security-team

# Data validation service
src/backend/services/validation-service/** @backend-team @validation-service-maintainers @security-team

# Consumer-facing lead generation application
src/web/apps/consumer/** @frontend-team @consumer-app-maintainers @security-team

# Buyer portal application
src/web/apps/portal/** @frontend-team @portal-app-maintainers @security-team

# Shared UI components and utilities
src/web/packages/shared/** @frontend-team @shared-components-maintainers

# RTB frontend integration package
src/web/packages/rtb/** @frontend-team @rtb-specialists @security-team

# Analytics and reporting components
src/web/packages/analytics/** @frontend-team @analytics-maintainers @security-team

# Infrastructure and deployment configuration
infrastructure/** @devops-team @security-team @cloud-architects

# CI/CD workflow configurations
.github/workflows/** @devops-team @ci-maintainers @security-team

# Backend test suites
src/backend/**/tests/** @qa-team @backend-team @test-automation-specialists

# Frontend test suites
src/web/**/tests/** @qa-team @frontend-team @test-automation-specialists

# Security-related configurations and policies
**/security/** @security-team @compliance-team

# Database schemas and migrations
**/database/** @database-team @backend-team @security-team

# Protocol buffer definitions
**/*.proto @api-team @backend-team @security-team

# OpenAPI specifications
**/openapi/** @api-team @backend-team @security-team
