Repository Assurean/rocket-quote-fzia64, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lead-architects, @security-team, @backend-team, @lead-service-maintainers, @campaign-service-maintainers, @ml-team, @data-scientists, @rtb-specialists, @validation-service-maintainers, @frontend-team, @consumer-app-maintainers, @portal-app-maintainers, @shared-components-maintainers, @analytics-maintainers, @devops-team, @cloud-architects, @ci-maintainers, @qa-team, @test-automation-specialists, @compliance-team, @database-team, @api-team

Add public-samples/rocket-quote-fzia64/src/backend/services/rtb-service/src/services/auction_service.go
  src/backend/services/rtb-service/src/services/auction_service.go
Owners: @backend-team, @rtb-specialists, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/rtb-service/src/utils/bid_optimizer.go
  src/backend/services/rtb-service/src/utils/bid_optimizer.go
Owners: @backend-team, @rtb-specialists, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/rtb-service/tests/bid_handler_test.go
  src/backend/services/rtb-service/tests/bid_handler_test.go
Owners: @qa-team, @backend-team, @test-automation-specialists

Add public-samples/rocket-quote-fzia64/src/backend/services/validation-service/Dockerfile
  src/backend/services/validation-service/Dockerfile
Owners: @backend-team, @validation-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/validation-service/README.md
  src/backend/services/validation-service/README.md
Owners: @backend-team, @validation-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/validation-service/package.json
  src/backend/services/validation-service/package.json
Owners: @backend-team, @validation-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/validation-service/tsconfig.json
  src/backend/services/validation-service/tsconfig.json
Owners: @backend-team, @validation-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/validation-service/src/config/apis.ts
  src/backend/services/validation-service/src/config/apis.ts
Owners: @backend-team, @validation-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/validation-service/src/controllers/validation.controller.ts
  src/backend/services/validation-service/src/controllers/validation.controller.ts
Owners: @backend-team, @validation-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/validation-service/src/interfaces/validation.interface.ts
  src/backend/services/validation-service/src/interfaces/validation.interface.ts
Owners: @backend-team, @validation-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/validation-service/src/services/address.service.ts
  src/backend/services/validation-service/src/services/address.service.ts
Owners: @backend-team, @validation-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/validation-service/src/services/email.service.ts
  src/backend/services/validation-service/src/services/email.service.ts
Owners: @backend-team, @validation-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/validation-service/src/services/phone.service.ts
  src/backend/services/validation-service/src/services/phone.service.ts
Owners: @backend-team, @validation-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/validation-service/src/utils/validators.ts
  src/backend/services/validation-service/src/utils/validators.ts
Owners: @backend-team, @validation-service-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/backend/services/validation-service/tests/validation.test.ts
  src/backend/services/validation-service/tests/validation.test.ts
Owners: @qa-team, @backend-team, @test-automation-specialists

Add public-samples/rocket-quote-fzia64/src/web/.dockerignore
  src/web/.dockerignore
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/web/.env.example
  src/web/.env.example
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/web/.prettierrc
  src/web/.prettierrc
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/web/README.md
  src/web/README.md
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/web/lerna.json
  src/web/lerna.json
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/web/package.json
  src/web/package.json
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @lead-architects, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/index.html
  src/web/apps/consumer/index.html
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/package.json
  src/web/apps/consumer/package.json
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/tsconfig.json
  src/web/apps/consumer/tsconfig.json
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/App.tsx
  src/web/apps/consumer/src/App.tsx
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/main.tsx
  src/web/apps/consumer/src/main.tsx
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/vite-env.d.ts
  src/web/apps/consumer/src/vite-env.d.ts
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/hooks/useForm.ts
  src/web/apps/consumer/src/hooks/useForm.ts
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/hooks/useRTB.ts
  src/web/apps/consumer/src/hooks/useRTB.ts
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/hooks/useValidation.ts
  src/web/apps/consumer/src/hooks/useValidation.ts
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/routes/AutoForm.tsx
  src/web/apps/consumer/src/routes/AutoForm.tsx
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/routes/BasicInfo.tsx
  src/web/apps/consumer/src/routes/BasicInfo.tsx
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/routes/ClickWall.tsx
  src/web/apps/consumer/src/routes/ClickWall.tsx
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/routes/CommercialForm.tsx
  src/web/apps/consumer/src/routes/CommercialForm.tsx
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/routes/CrossSell.tsx
  src/web/apps/consumer/src/routes/CrossSell.tsx
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/routes/HealthForm.tsx
  src/web/apps/consumer/src/routes/HealthForm.tsx
Owners: @frontend-team, @consumer-app-maintainers, @security-team

Add public-samples/rocket-quote-fzia64/src/web/apps/consumer/src/routes/HomeForm.tsx
  src/web/apps/consumer/src/routes/HomeForm.tsx
Owners: @frontend-team, @consumer-app-maintainers, @security-team

.github/CODEOWNERS:

# Ensures security oversight on all changes
* @lead-architects @security-team

# Lead service core functionality
src/backend/services/lead-service/** @backend-team @lead-service-maintainers @security-team

# Campaign management service
src/backend/services/campaign-service/** @backend-team @campaign-service-maintainers @security-team

# Machine learning scoring service
src/backend/services/ml-service/** @ml-team @data-scientists @security-team

# Real-time bidding service
src/backend/services/rtb-service/** @backend-team @rtb-specialists @security-team

# Data validation service
src/backend/services/validation-service/** @backend-team @validation-service-maintainers @security-team

# Consumer-facing lead generation application
src/web/apps/consumer/** @frontend-team @consumer-app-maintainers @security-team

# Buyer portal application
src/web/apps/portal/** @frontend-team @portal-app-maintainers @security-team

# Shared UI components and utilities
src/web/packages/shared/** @frontend-team @shared-components-maintainers

# RTB frontend integration package
src/web/packages/rtb/** @frontend-team @rtb-specialists @security-team

# Analytics and reporting components
src/web/packages/analytics/** @frontend-team @analytics-maintainers @security-team

# Infrastructure and deployment configuration
infrastructure/** @devops-team @security-team @cloud-architects

# CI/CD workflow configurations
.github/workflows/** @devops-team @ci-maintainers @security-team

# Backend test suites
src/backend/**/tests/** @qa-team @backend-team @test-automation-specialists

# Frontend test suites
src/web/**/tests/** @qa-team @frontend-team @test-automation-specialists

# Security-related configurations and policies
**/security/** @security-team @compliance-team

# Database schemas and migrations
**/database/** @database-team @backend-team @security-team

# Protocol buffer definitions
**/*.proto @api-team @backend-team @security-team

# OpenAPI specifications
**/openapi/** @api-team @backend-team @security-team
